#menuBar {
    display: flex;
    justify-content: space-evenly;
}

.menuIcon {
    width: 200px;
    height: 20px;
    font-size: 16px;
}

#pixelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixelRow {
    display: flex;
    flex-wrap: nowrap;
    max-width: 800px;
}

.pixel {
    width: 32px;
    /* aspect-ratio makes the squares stay square-shaped in bigger grids */
    aspect-ratio: 1 / 1; 
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.pixelDefault {
    background-color: white;
}

.pixelHovered {
    background-color: black;
}